theme:
  name: material
  language: fr
  palette:
    # Palette pour le mode clair
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Passer au mode sombre

    # Palette pour le mode sombre
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Passer au mode clair